html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow:hidden;
}

canvas {
    display: block;
    width: 1920px;
    height: 1080px;
}

#my-canvas {
    background-color: #222;
    border: 1px solid black;
}
